@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
	scroll-behavior: smooth;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #d9d9d900;
	font-family: 'Roboto', sans-serif;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

:focus {
	outline: none;
}
